{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=carreviewbackena3d7;AccountKey=9169kC+XBGnxh1Kr5BYLSMd3eYgFa4L/6bd/7lgmYFRmRd0dICzOFegh7wgqwjttJ9fFddbi2yMD+aNciRyinw==",
    "AzureWebJobsDashboard": "DefaultEndpointsProtocol=https;AccountName=carreviewbackena3d7;AccountKey=9169kC+XBGnxh1Kr5BYLSMd3eYgFa4L/6bd/7lgmYFRmRd0dICzOFegh7wgqwjttJ9fFddbi2yMD+aNciRyinw==",
    "FUNCTIONS_EXTENSION_VERSION": "beta",
    "WEBSITE_NODE_DEFAULT_VERSION": "6.5.0",
    "AzureWebJobsSecretStorageType": "disabled",
    "carreviewstr_COSMOSDB": "AccountEndpoint=https://carreview.documents.azure.com:443/;AccountKey=DjxGNIrnlnzWGAePrIQxnfc1sc3iZkOOcyHHSJLC4FdU2Q1hpyeKHkqTO4ANobm6BUizpJBFmbRSLkHoTfuVcg==;",
    "carreviewstr_STORAGE": "DefaultEndpointsProtocol=https;AccountName=carreviewstorage;AccountKey=F+gwmFMDThvhyPSRGztdBUpNGIpLC9bVD7qWd7uiFj7mueElqOz35f5aafnsT5+g7V4bjJCAQIoqjM/eHEqQXw==;EndpointSuffix=core.windows.net"
  },
  "ConnectionStrings": {},
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*"
  }
}