<mat-toolbar color="primary">
  <mat-icon class="example-icon">collections</mat-icon>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" (click)="home();">home</mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar color="light" role="aria-labelledby" class="footer">
    <span class="example-spacer"></span>
    <span><font size="3">Microsoft Serverless Team</font></span>
    <mat-icon class="example-icon">flash_on</mat-icon>
  </mat-toolbar> 

