
<br/>
<md-grid-list cols="2" rowHeight="1:1">
    <md-grid-tile>
            <md-card class="example-card">
                    <md-card-header>
                      <div md-card-avatar class="example-header-image"></div>
                      <md-card-title>{{car.name}}</md-card-title>
                      <md-card-subtitle>{{car.company}}</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="{{image}}" alt="Photo of a Shiba Inu">
                    <md-card-content>
                      <p>
                        {{car.description}}
                      </p>
                    </md-card-content>
                    <md-card-actions>
                      <button md-button>LIKE</button>
                      <button md-button>SHARE</button>
                      <button md-button>Edit</button>
                    </md-card-actions>
                  </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
                <form class="example-form">
                        <md-form-field class="example-full-width">
                                <input mdInput placeholder="Name" name="name" [(ngModel)]="car.name">
                        </md-form-field>
                      
                        <p>
                        <md-form-field class="example-full-width">
                                <input mdInput placeholder="Company" name="company" [(ngModel)]="car.company">
                          </md-form-field>
                        </p>
                        <p>
                          <md-form-field class="example-full-width">
                                <textarea mdInput placeholder="Description" name="description" [(ngModel)]="car.description"></textarea>
                          </md-form-field>
                        </p>
                        
                        <p>
                               <input hidden="true" id="upfile" type="file" name="upfile" #fl accept="image/*" (change)="upload(fl.files)"/>
                                <label for="upfile" class="mat-raised-button mat-basic">Choose image</label>
                
                        </p>

                        <p>
                            <button md-fab color="accent"><md-icon class="example-icon">file_upload</md-icon></button>
                        </p>
                      </form>

        </md-card>
    </md-grid-tile>
</md-grid-list>