export const environment = {
  production: true,
  fileUploadUrl: "https://sitebackend.azurewebsites.net/api/FileUpload/{filename}?code=gKuWSJJotOYqyXlZiMmnG5vHkkoJK6v6Kg2MAtSd7k62ThKzFYGlSw==",
  getCarsUrl: "https://carreviewver2.azurewebsites.net/api/GetCars/{state}?code=4Mmwau8vqNSAg92w52u7nCuaJJ3Rvw9U1qJg1czl7A6E7jjH6f/eAg==",
  createCarUrl: "https://prod-07.japaneast.logic.azure.com:443/workflows/69c3cbe052374fa3bc54a51c6ed00935/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=tkPN9Gciye_QJHfwreCsJmWqGUuEIGHijsWUXDY9Ltk",
  imageBlobUrl: "https://carreviewstr.blob.core.windows.net/out/",
};
